Source: entente
Section: admin
Priority: optional
Maintainer: Sergey Urbanovich <sergey.urbanovich@gmail.com>
Build-Depends: asn1c (>= 0.9), debhelper (>> 5), libev-dev (>= 3.0), libpam0g-dev (>= 0.99.7.1)
Standards-Version: 3.8.4

Package: entente
Architecture: any
Depends: ${shlibs:Depends}
Homepage: http://meow.tratata.org/
Description: Simplest ldap server with authentication via pam
 Simplest ldap server with authentication via pam.
